<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testpage — Irgendetwas</title>
    <link rel="stylesheet" href="./style.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <div class="header">
        <div class="column">
            <h1>Testpage</h1>
            <h2>Irgendetwas</h2>
        </div>
        <i class="fi-br-home icon"></i>
    </div>
    <div class="content">
        This page is considered to be a test page for styles.
        <h1>First-lvl header</h1>
        <p>Some text with <i>italic</i></p>
        <h2>Second-lvl header</h2>
        <p>Some text with <b>bold</b></p>
        <h3>Third-lvl header</h3>
        <p>Some text with <u>underline</u></p>
        <h4>Fourth-lvl header</h4>
        <p>Some text with <s>strikethrough</s></p>
        <h5>Fifth-lvl header</h5>
        <p>Some text with <mark>highlight</mark></p>
        <h6>Sixth-lvl header</h6>
        <p>Some text with <code>code</code></p>
        <p>Some text with <a href="/">link</a></p>
        
        <h1>Buttons</h1>
        <button>Button</button>
        <button onclick="alert('Hello!')">Click me!</button>

        <h1>Inputs</h1>
        <input type="text" placeholder="Text input">

        <h1>Table</h1>
        <table>
            <tr>
                <th>Hi</th> <th>Hi</th> <th>Hi</th>
            </tr>
            <tr>
                <td>Hi</td> <td>Hi</td> <td>Hi</td>
            </tr>
            <tr>
                <td>Hi</td> <td>Hi</td> <td>Hi</td>
            </tr>
        </table>
    </div>
    <div class="footer">
        <p>made by <b>Daniel Tiefeschwarz</b><br>2023 ©</p>
    </div>
    <script src="./script.js"></script>
</body>
</html>