<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ theme }} — Irgendetwas</title>
    <link rel="stylesheet" href="/assets/style.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-bold-rounded/css/uicons-bold-rounded.css'>
<body>
    <div class="header">
        <div class="column">
            <h1>{{ theme }}</h1>
            <h2>Irgendetwas</h2>
        </div>
        <i class="fi-br-{{ icon }} icon"></i>
    </div>
    <div class="content">
        {{ content }}
    </div>
    <div class="footer">
        <p>made by <b>Daniel</b><br>2024 ©</p>
    </div>
    <script src="/assets/script.js"></script>
</body>
</html>